.App {
    text-align: center;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}


.top-area {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282c34;
    font-size: 20px;
    color: white;
    text-align: right;
    padding: 8px 0;
    margin-right: 30px;
}

.menu-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.main-items {
    border: 1px outset lightgrey;
    padding: 5px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin: 5px;
    align-content: center;
    background-color: slategrey;
    font-size: 14px;
}

.standard {
    height: 700px;
}

.title {
    font-size: 30px;
    color: white;
    margin: 20px;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
}

/* src/pages/detail/Unit-detail.css */
.compact-table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px !important;
}

.compact-table td {
    padding: 4px 8px;
    border: 1px solid #ddd;
}
